<form action="/scraped" method="POST">
  <div>
    <label for="ingredient">With which ingredient do you want recipe ?</label>
    <input name="ingredient" id="ingredient" value="ingredient">
  </div>
  <div>
    <button>Search recipe</button>
  </div>
</form>
