<ul>
  <% @recipes.each_with_index do |recipe, index| %>
    <li>
      <% done = recipe.readed ? "X" : " " %>
      <%= "#{index + 1}. [#{done}] #{recipe.name} (#{recipe.rating}) | <a href='/destroy/#{index}'>Destroy it</a> | <a href='/markdone/#{index}'>Mark as done</a>"%>
    </li>
  <% end %>
</ul>

<div>
  <a href="/new">Create a new recipe</a>
</div>

<div>
  <a href="/import">Import a new recipe</a>
</div>
