<form action="/recipes" method="POST">
  <div>
    <label for="name">What is the name of the recipe ?</label>
    <input name="name" id="name" value="name">
  </div>
  <div>
    <label for="description">Whhat is the description of the recipe ?</label>
    <input name="description" id="description" value="description">
  </div>
  <div>
  <div>
    <label for="rating">What is the rating of this recipe ?</label>
    <input name="rating" id="rating" value="rating">
  </div>
  <div>
    <label for="duration">How long to do this recipe ?</label>
    <input name="duration" id="duration" value="duration">
  </div>
  <div>
  <div>
    <label for="readed">Did you already read this recipe ?</label>
    <input type="checkbox" id="readed" name="readed" checked value="true">
  </div>
  <div>
  <div>
    <button>Send my greetings</button>
  </div>
</form>
